

<!-- include -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
<!-- my css section -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel='stylesheet' href="/@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel='stylesheet' href="/Content/style.css" />

  <script src="https://example.com/fontawesome/v6.4.2/js/fontawesome.js" data-auto-replace-svg="nest"></script>
  <script src="https://example.com/fontawesome/v6.4.2/js/solid.js"></script>
  <script src="https://example.com/fontawesome/v6.4.2/js/brands.js"></script>
  

  
  </head>
  <body>
    <!-- nav bar -->
<nav class="navbar fixed-top navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand " href="/home"><img class="size" src="/Assets/images/brewlogo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- home -->
          <li class="nav-item">
            <a class="nav-link"  href="/home"><i class="fa-solid fa-house-chimney fa-lg"></i> Home</a>
          </li>

           <!-- about -->
           <li class="nav-item">
            <a class="nav-link"  href="/about"><i class="fa-solid fa-circle-info fa-lg"></i> About Us</a>
          </li>

          <!-- Product List -->
          <li class="nav-item">
            <a class="nav-link"  href="/product/list"><i class="fa-brands fa-product-hunt fa-lg"></i> List</a>
          </li>


        <!-- Cart -->
        <!-- <li class="nav-item">
          <a class="nav-link"  href="/cart"><i class="fa-solid fa-cart-shopping fa-lg"></i> Cart</a>
        </li> -->
    

        <!-- Search -->
          <!-- <form class="d-flex" role="search">
            <input class="form-control me-2 mx-3" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form> -->
  
      </div>
    </div>
  </nav>

