<%- include('partials/header.ejs') %>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="col-md-7 col-lg-8">
      <h2 class="pb-2 border-bottom">Check Product stock</h2>
      <form class="needs-validation" id="stock-form">
        <div class="row g-3">
          <div class="col-12">
            <label for="basketId" class="form-label">Select Basket ID:</label>
            <!-- <input type="text" class="form-control" id="basketId" name="basketId" placeholder="Enter basket ID" required> -->
            <select class="form-control" id="basketId" name="basketId" required>
              <!-- The options will be dynamically added through JavaScript -->
            </select>
          </div>
        </div>

        <hr class="my-4">

        <p id="stockResult">stock Result: </p>

        <button class="w-100 btn btn-warning btn-lg" type="button" onclick="checkstock()">Check Stock Status</button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>

<script>
  async function checkstock() {
    // Retrieve values from the form
    const basketId = document.getElementById('basketId').value;

    try {
      const response = await fetch(`/product/check-stock?basketId=${basketId}`);
      const { stockStatus } = await response.json();

      document.getElementById('stockResult').textContent = `In Stock : ${stockStatus}`;
    } catch (error) {
      console.error('Error checking stock:', error);
      alert('Error checking stock');
    }
  }

    async function populateBasketDropdown() {
    try {
      const response = await fetch('/basket/list');
      const baskets = await response.json();
      const basketDropdown = document.getElementById('basketId');
      basketDropdown.innerHTML = '';
      baskets?.baskets.forEach(basket => {
        const option = document.createElement('option');
        option.value = basket.id;
        option.textContent = basket.id;
        basketDropdown.appendChild(option);
      });

    } catch (error) {
      console.error('Error fetching basketIds:', error);
      alert('Error fetching basketIds');
    }
  }

  // populate dropdown 
  document.addEventListener('DOMContentLoaded', populateBasketDropdown);
</script>
