<%-include('partials/header.ejs')%>
<br><br><br>

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4 roundImage" src="/Assets/images/brewlogo.png" alt="">

  <!-- heading area -->
  <h1 class="display-5 fw-bold text-body-emphasis">Welcome to BrewBeans</h1>
  <div class="col-lg-6 mx-auto">

    <!-- description -->
    <p class="lead mb-4"> Your cozy corner for customized brews. Here, you can tailor your perfect cup, update your usual to match your mood, choose from our curated menu, or even say goodbye to an old favorite. Your coffee, your way—every day. Join us again for your personalized coffee experience!.</p>
    <p class="lead mb-4">Just select an option below to proceed.</p>


    <!-- Main buttons -->
    <div class="d-grid gap-2 col-6 mx-auto">

     <!-- Update the Create Product button  -->
     <button type="button" class="btn btn-warning btn-lg px-4 me-md-2"><a href="/product/list" class="noContactUsDecore"> Show Product List</a></button>
     <button type="button" class="btn btn-warning btn-lg px-4 me-md-2"><a href="/product/update-description" class="noContactUsDecore">1. Update Product Description</a></button>
      <button type="button" class="btn btn-warning btn-lg px-4 me-md-2"><a href="/create-product" class="noContactUsDecore">2. Create Product</a></button>
      <!-- <button type="button" class="btn btn-warning btn-lg px-4 me-md-2"><a href="/about" class="noContactUsDecore"> Update Product</a></button> -->
      <button type="button" class="btn btn-warning btn-lg px-4 me-md-2"><a href="/showproductstatetax" class="noContactUsDecore">3. Show Product State Tax</a></button>
      <button type="button" class="btn btn-warning btn-lg px-4 me-md-2"><a href="/updateorderstatus" class="noContactUsDecore">4. Update Order Shipping Status</a></button>
      <button type="button" class="btn btn-warning btn-lg px-4 me-md-2"><a href="/addtocart" class="noContactUsDecore">5. Add to Basket</a></button>
      <button type="button" class="btn btn-warning btn-lg px-4 me-md-2"><a href="/getproductsalesinfo" class="noContactUsDecore">6. Get Product Sale info</a></button>
      <br><br>
      <h2>Report Section</h2>

      <button type="button" class="btn btn-warning btn-lg px-4 me-md-2"><a href="/checkstock" class="noContactUsDecore">1. Check Stock</a></button>
      <button type="button" class="btn btn-warning btn-lg px-4 me-md-2"><a href="/calcspending" class="noContactUsDecore">2. Calculating a Shopper's Total Spending</a></button>

    </div>
  </div>
</div>


<%-include('partials/footer.ejs')%>